@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

 body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
      background-position: center;
      background-size: cover;
      min-height: 75%;
    }

    #inicio {
      background-image: url("https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    
    #produtos {
      background-image: url("https://images.pexels.com/photos/3735147/pexels-photo-3735147.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    #receitas {
      background-image: url("https://images.pexels.com/photos/29666891/pexels-photo-29666891/free-photo-of-tomando-cafe-enquanto-assa-pao-lendo-receitas.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    #contato {
      background-image: url("https://images.pexels.com/photos/681391/pexels-photo-681391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    .menu {
      display: none;
    }

.espaco {
  margin-top: 40vh;
}


.filtro-gray {
  filter: grayscale(0.2);
}

/* Carrocel de imagens */

.coluna-produto-carrocel{
  text-align: center;
  min-width: 140px;
  width: 11vw;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
  margin: 0 auto auto 2.3em;
  transition: all 0.5s;
}

.coluna-produto-carrocel:hover {
  scale: 1.2;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.8);
}

.carrossel {
    margin: 0 auto;
}

.doc {
    margin: auto auto auto 3em;
}

  .pic {
    width: 100%;
    height: 10em;
    width: 14em;
  }

  .titulodescricaoimagem {
    text-align: center;
  }

  .descricaoimagem {
    color: brown;
  }

  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 1;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 80%;
    margin-top: -4vh;
  }
  
  .pic-ctn > .doc {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  .doc:nth-child(2) {
    animation-delay: 2s;
  }
  .doc:nth-child(3) {
    animation-delay: 4s;
  }
  .doc:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

/* Promoções */

.produtos-carrocel {
  text-decoration: none;
}

/* Produtos */

.container-produtos {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-produto {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.coluna-produto {
  text-align: center;
  min-width: 120px;
  width: 11vw;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
  margin: 2em;
  transition: all 0.8s;
}

.coluna-produto:hover {
  scale: 1.2;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.8);
}

.imagem-produto {
  width: 100%;
  height: 24vh;
}

.caixa_titulo_produtos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.titulo-produto-coluna {
  width: 100%;
  font-size: 1.2em;
  margin: auto;
  font-weight: 500;
}

.preco {
  margin-right: 2em;
  margin-top: -0.4em;
  font-size: 1.2em;
}

.peso {
  font-size: 1em;
  margin: -2em auto 1em 5em;
}

.promo {
  background-color: rgb(236, 96, 96);
  color: black;
  position: absolute;
  padding: 1px 4px;
}

/* Receitas */

.livro-de-receitas {
  margin-left: 2em;
  float: left;
  width: 40%;
}

.bloco-receita {
  width: 55%;
  float: right;
}

.botao-receitas-escolher {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.titulo-receita {
  font-size: 1.3em;
  text-decoration: underline;
}

.descricao-receita {
  padding: 0.5em 1em;
  line-height: 1.4em;
  font-size: 1.6em;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(250, 234, 214);
}

.caixa-modo-de-preparo {
  font-size: 0.98em;
  line-height: 1.2em;
}

.ingredientes {
  font-size: 1em;
  font-family: "Parisienne", cursive;
}

.modo-de-preparo {
  margin: 0.4em auto;
}

#pao-castanha {
  display: block;
}

#pao-de-aveia {
  display: none;
}

#pao-verde {
  display: none;
}

#pao-arroz {
  display: none;
}

#bolo-cacau {
  display: none;
}

#bolo-coco {
  display: none;
}

#bolo-maca {
  display: none;
}

#bolo-tamara {
  display: none;
}


footer {
  margin-top: 2em;
  color: white;
  background-color: black;
}

@media screen and (max-width: 800px) {
  .livro-de-receitas {
  margin: 0;
  float: none;
  width: 100%;
}

.bloco-receita {
  width: 100%;
  float: none;
}
}
